{
  "env": {
    "node": true,

    "browser": true,

    "jest": true,

    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 2018
  },

  "parser": "babel-eslint",

  "plugins": ["import", "react", "jsx-a11y"],

  "extends": [
    "eslint:recommended",

    "plugin:import/errors",

    "plugin:import/warnings",

    "plugin:react/recommended",

    "plugin:jsx-a11y/recommended"
  ],

  "rules": {
    "react/prop-types": "off",

    "jsx-a11y/anchor-is-valid": [
      "off",

      {
        "components": ["Link"],

        "specialLink": ["route", "passhref"]
      }
    ],

    "react/no-unescaped-entities": "off",

    "react/display-name": "off",

    "jsx-a11y/html-has-lang": "off"
  },

  "settings": {
    "react": {
      "version": "16.7"
    },

    "import/resolver": {
      "babel-module": {}
    }
  }
}
