language: node_js
node_js:
  - "stable"
dist: trusty
sudo: required
cache:
  directories:
    - node_modules
addons:
  chrome: stable,
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=3001 http://localhost &
script:
  - npm run ci
